.CpButton {
  /* background-color: ${({ buttonColor, theme }) => (buttonColor ? theme.brandColors[buttonColor] : "transparent")}; */
  border-radius: theme("borderRadius.DEFAULT");
  border-style: none;
  cursor: pointer;
  font-family: sans-serif;
  /* min-height: ${({ size, theme }) => theme.buttonHeights[size]}px;
  padding: ${({ theme }) => theme.spacing.double}px; */
  transition: background-color 300ms ease-out;
}

.CpButton:hover {
  background-color: "#ffffff33";
}
